.vscode
__pycache__
*.cif
/fasta/*
obsolete
/pir/*
/native_pdb/*
/pdb/*
/tmscore/*
*.sh.o*
*.sh.e*
*.o*
*.e*
/score/*/*/
/scwrl_pdb
/blast_xml
/profile
/template_pdb
*.hdf5
*.pdb
*.fasta
*.mol2
*.sdf
*.xml
*.clstr
.DS_store
*.gz
pdb_seqres.txt
*.pkl
*.pir
*.pse
*.bz2
*.a3m
*.seq
*.ss3
*.rr
*_uce3
*_uce5
src/mqa/ResNetQA/test
.ipynb_checkpoints
*.phr
*.pin
*.psq
default.sc
*.swp
